# Android Studio
.gradle/
**/build/
!gradle/wrapper/gradle-wrapper.jar
**/local.properties

# IntelliJ project files (only share useful ones)
.idea/
!.idea/codeStyles/
!.idea/runConfigurations/
!.idea/vcs.xml
!.idea/modules.xml

# OS files
.DS_Store
Thumbs.db

# Java/Kotlin
*.class
*.jar
*.war
*.ear

# Logs and outputs
*.log
captures/
output.json
test-results/
*.ec

# Firebase & signing
firebase/*.json
*.keystore
*.jks
key.properties

# NDK
obj/

# Misc
*.orig
